body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
h1, h2 {
    font-size: 50px;
}
.color{
    color: orange;
}
section{
    display:flex;
}
.div{
    padding: 5%;
    width: 50%;
  }

  .div img{
      width: 80%;
  }

  .link-botton{
      text-decoration: none;
      background-image: linear-gradient(orange, tomato);
      padding: 10px 40px;
      border-radius: 5%;
      color: white;
  }

  .background{
      background-image:url(/images\ \(1\).jpg) ;
      background-repeat: no-repeat;
     
  }