body{
    margin:0%;
    font-family: 'Poppins', sans-serif;
}
h1{
font-size: 35px;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.orange-color{
    color: chocolate;
}
.half-width{
    width: 50%;
    padding: 10px;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;

}

.top-banner{
    background-image: url(images/images\ \(1\).jpg);
    background-repeat: no-repeat;
       
}

.dream-big{
    background-image: url(images/images\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px rgb(247, 101, 3);
    border-radius: 10px;
    
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 242), rgb(255, 0, 34));
    border-image-slice: 1;
}
.footer{
    text-align: center;
    color: rgb(247, 6, 6);
}